{% extends "base.html" %}
{% block content %}
<main role="main" class="container">
    <div class="row">
        <div class="col-md-3 mb-3 mt-1">
            {% include 'includes/author_card.html' %}
                
                {% if request.user.is_authenticated %}
                    {% include 'includes/follow_buttons.html' %}
                {% endif %}
        </div>
            <div class="col-md-9">
                <!-- Пост -->  
                {% for post in page %}  
 
                    {% include "includes/post_item.html" with post=post %}       
                
                {% endfor %}
                <!-- Конец блока с отдельным постом -->
                <!-- Остальные посты -->
                <!-- Здесь постраничная навигация паджинатора -->
                {% include "paginator.html" %}
     </div>
    </div>
</main>
{% endblock %}